.Home section {
  min-height: 700px;
  padding-bottom: 20px;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 300px;
  padding-right: 300px;

  border-width: 10px;
  border-color: rgba(255,255,255,0.75);

  background-color: #2A2C39;
  display: flex;
  justify-content: center;
}

.Home section > * {
  margin: 20px;
}

.Home section:nth-of-type(2n) {
  background-color: #BA68C8;
}